.headN{
  position: absolute;
  font-size: 70px;
  font-family:sans-serif;
  top: 50px;
  left: 60px;
}
.immage_res{
  position: relative;
  left: 850px;
  padding-left: 100px;
  width: 25%;
  height: 60%;
}
#three{
  color: rgb(235, 33, 235);
}
.text{
  position: absolute;
  font-size: 30px;
  font-family: sans-serif;
  left: 30px;
}
.data{
  position: absolute;
  top: 500px;
  left: 70px;
  font-family: sans-serif;
  font-size: 30px;
 
}

